.fourthSection{
    margin-top: 12px;
    height: 670px;
    background: rgba(252, 248, 243, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.fourthSection-content{
    min-width: 378px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.fourthSection-content h2{
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    color: rgba(58, 58, 58, 1);
}

.fourthSection-content span{
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(97, 97, 97, 1);
}

.fourthSection-content button{
    cursor: pointer;
    width: 176px;
    height: 48px;
    border: none;
    background: rgba(232, 159, 113, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.fourthSection-images{
    margin-left: 86px;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.fourthSection-option{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 24px;
    margin-top: 428px;   
    align-items: end;
}

.fourthSection-textblock{
    width: 217px;
    height: 130px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(3px);
}

.option-details{
    display: flex;
    align-items: center;
}

.fourthSection-text{
    margin: 32px;
}

.firstImage-details img{
    margin: 8px;
}

.firstImage-details span{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(97, 97, 97, 1);
}

.fourthSection-option h4{
    white-space: nowrap;
    font-weight: 600;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 0%;
    margin-top: 8px;
    margin-bottom: 0px;
    color: rgba(58, 58, 58, 1);
}

.fourthSection-point{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: rgba(232, 159, 113, 1);
}

.fourthSection-indicator{
    cursor: pointer;
    display: flex;
    margin-top: 40px;
}


.fourthSection-ride-side{
    right: 55px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
}