@import url(./firstStep.css);
@import url(./secondStep.css);
@import url(./thirdStep.css);
@import url(./fourthStep.css);
@import url(./fifthStep.css);
@import url(./sixthStep.css);
@import url(./seventhStep.css);

body {
    height: 4675px;
    margin: 0;
    font-family: Gilroy, sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }