.rooms{
    margin-top: 12px;
    height: 652px;
    background: rgba(252, 248, 243, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.rooms-content{
    min-width: 378px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.rooms-content h2{    
    margin: -3px 0 0 15px;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.6px;
    color: rgba(58, 58, 58, 1);
}

.rooms-content span{
    margin: 1px 11px 27px 15px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: rgba(97, 97, 97, 1);
}

.rooms-content button{    
    margin-left: 16px;
    cursor: pointer;
    width: 171px;
    height: 48px;
    border: none;
    background: rgba(232, 159, 113, 1);
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.5px;
    color: rgba(255, 255, 255, 1);
}

.rooms-images{
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    gap: 21px;
}

.rooms-option{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-left: 23px;
    margin-top: 420px;
    align-items: end;
}

.rooms-textblock{
    width: 212px;
    height: 127px;
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(3px);
}

.option-details{
    display: flex;
    align-items: center;
}

.ooption-details-name{
    margin-left: 14px;
}

.rooms-text{
    margin: 32px;
}

.firstImage-details img{
    margin: 8px;
}

.firstImage-details span{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgba(97, 97, 97, 1);
}

.rooms-option h4{
    white-space: nowrap;
    font-weight: 600;
    font-size: 28px;
    line-height: 33.6px;
    letter-spacing: 0%;
    margin-top: 8px;
    margin-bottom: 0;
    color: rgba(58, 58, 58, 1);
}

.rooms-point{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background: rgba(232, 159, 113, 1);
}

.rooms-indicator{
    cursor: pointer;
    display: flex;
    margin-top: 40px;
}


.rooms-ride-side{
    right: 55px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 48px;
    height: 48px;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
}